name: Feedback Bot

on:
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Info
        run: echo "Feedback bot now runs permanently on Render.com - no need to run this workflow."
